.root {
    -fx-base: #323232;
    -fx-background: #323232;
    -fx-control-inner-background: #323232
}

.tab {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base, 30%))
}

.button {
    -fx-background-color: transparent;
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2
}
.button:hover {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-color: -fx-hover-base;
    -fx-background-color: #3a3a3a
}
.button:pressed,
.button:default:hover:pressed {
    -fx-background-color: #fff;
    -fx-text-fill: #1d1d1d
}
.button:focused {
    -fx-border-color: #fff, #fff;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0
}
.button:disabled,
.button:default:disabled {
    -fx-opacity: .4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #fff
}
.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #fff
}
.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%)
}

.table-view {
    -fx-table-cell-border-color: derive(-fx-base, +10%);
    -fx-table-header-border-color: derive(-fx-base, +20%);
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5
}

.split-pane:horizontal>*>.split-pane-divider {
    -fx-border-color: transparent -fx-base transparent -fx-base;
    -fx-background-color: transparent, derive(-fx-base, 20%);
    -fx-background-insets: 0, 0 1 0 1
}

.my-gridpane {
    -fx-background-color: radial-gradient(radius 100%, derive(-fx-base, 20%), derive(-fx-base, -20%))
}

.separator-label {
    -fx-text-fill: orange
}

.background {
    -fx-background-color: #1d1d1d
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #fff;
    -fx-opacity: .6
}
.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #fff;
    -fx-opacity: 1
}
.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #fff;
    -fx-opacity: 1
}

.table-view .column-header-background {
    -fx-background-color: transparent
}
.table-view .column-header,
.table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0
}
.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #fff;
    -fx-alignment: center-left;
    -fx-opacity: 1
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color
}

.split-pane:horizontal>.split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d, 20%)
}
.split-pane {
    -fx-padding: 1 0 0 0
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%)
}

.menu-bar {
    -fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base, 30%));
    -fx-background-color: derive(#1d1d1d, 20%)
}
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #fff;
    -fx-opacity: .9
}

.tool-bar:horizontal {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base, +50%), derive(-fx-base, -40%), derive(-fx-base, -20%))
}

.menu .left-container {
    -fx-background-color: #000
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold"
}

#splash {
    -fx-background-radius: 15px;
    /*-fx-background-color: transparent;*/
}

#progresPane {
    -fx-background-color: #303030;
}